.item {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  font-family: sans-serif;
  font-size: 14px;
}

.main-panel {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}
.children-container {
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
  margin-left: 4px;
  gap: 5px;
  margin-left: 10px;
}

:root {
  --foreground: #c0c0c0;
  --background: #ddd;
}

body {
  background-color: #ffffff;
  opacity: 1;
  background-image: repeating-linear-gradient(
      45deg,
      var(--foreground) 25%,
      transparent 25%,
      transparent 75%,
      var(--foreground) 75%,
      var(--foreground)
    ),
    repeating-linear-gradient(
      45deg,
      var(--foreground) 25%,
      var(--background) 25%,
      var(--background) 75%,
      var(--foreground) 75%,
      var(--foreground)
    );
  background-position: 0 0, 50px 50px;
  background-size: 100px 100px;
}
